@font-face {
	font-family: Raleway;
	src: url(Raleway-Thin.ttf);
}

.piece {
	display:inline-block;
	font-size: 30px;
	position:relative;
	top:12px;
}

.smaller {
	font-size: 16px;
}

* {
	font-family: Raleway;
	box-sizing:border-box;
}

#board {
	padding-top: 30px;
	height:180px;
	width:180px;
	margin:0px;
	padding:0px;
	font-size:0px;
	text-align: center;
	margin:80px auto 0;
}

.block {
	
	width:60px;
	height:60px;
	display:inline-block;
	padding: 0px;
	margin:0px;
	text-align: middle;
	vertical-align: middle;
}

h1 {
	text-align:center;
}

.top {
	border-bottom:solid black 1px;
}

.right {
	border-left:solid black 1px;
}

.left {
	border-right:solid black 1px;
}

.mid, .center {
}

.bottom {
	border-top:solid black 1px;
}

